<h1>Seja bem vindo</h1>
<h1>Integrante do Grupo: <span class="christopher">Christopher J.C. Ferreira</span></h1>

<style>
.christopher{
    color: red;
    font-weight: 100px;
    font-style: normal;
}
</style>